- provide :button_text, '更新する'
= render partial: 'form', locals: { page: @page,
                                    web_book: @web_book,
                                    preview_page_title: @preview_page_title,
                                    preview_page_body: @preview_page_body }
